@import url(https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

:root {
    --primary-color: #FFFFFF;
    --bg-color: #131313;
    --secondary-color: #272727;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.divImageFullScreen {
    display: none;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
}

.imageFullScreen {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 90vw;
    max-height: 90vh;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    z-index: 1;
}

.divImageAfter {
    position: fixed;
    top: 50%;
    left: 5%;
    width: 90vw;
    max-width: 90vw;
    max-height: 90vh;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 20px;
    overflow: hidden;
}

.image-after {
    width: 100%;
    height: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 5px solid white;
}

.slider {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    opacity: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.div-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    & .logo {
        width: 40px;
        height: auto;
    }

    & p {
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-size: 1.5rem;
        font-weight: 500;
    }
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.div-prompt {
    position: relative;
    width: 380px;
    background-color: var(--secondary-color);
    padding: 18px;
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
    
    & textarea {
        width: 100%;
        border: none;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        outline: none;
        font-size: 0.95rem;
        resize: none;
        height: 50px;
        transition: 0.2s;

        &::placeholder {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

.generate-btn {
    position: absolute;
    bottom: 18px;
    right: 18px;
    background-color: var(--primary-color);
    padding: 15px;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--bg-color);
    font-weight: 600;
    text-transform: uppercase;

    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }

    &:disabled {
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        cursor: not-allowed;
    }

    & i {
        font-size: 0.85rem;
    }
}

#upload-image {
    display: none;
}

.label-upload-image {
    padding: 70px;
    width: 380px;
    height: 280px;
    aspect-ratio: 1/1;
    max-width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 2px dashed var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.1s;

    & i {
        font-size: 2.5rem;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.05);
    }
}

.div-preview-upload-image {
    display: none;
    position: relative;

    & i {
        position: absolute;
        top: 15px;
        right: 15px;
        color: var(--primary-color);
        background-color: #d50000;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        cursor: pointer;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    }
}

main {
    width: 100%;
}

#sec-form {
    display: flex;
    width: 100%;
}

#sec-img-generated {
    width: 100%;
    display: none;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Título */

.title {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 100%;
    text-align: center;
}

.home-title::after {
    content: '|';
    animation: blink 0.7s step-end infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Ações de botão */
.div-button-actions {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & button {
        background-color: transparent;
        border: 3px solid var(--primary-color);
        width: 50px;
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        transition: 0.2s;

        & i {
            font-size: 1.1rem;
            color: var(--primary-color);
        }

        & .label {
            display: none;
            transition: 0.2s;
            position: absolute;
            bottom: 125%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 0.85rem;
            background-color: var(--primary-color);
            color: var(--bg-color);
            padding: 8px 10px;
            border-radius: 5px;
            font-weight: 500;

        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);

            & .label {
                display: block;
            }
        }
    }
}

/* btn back */
.voltar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    cursor: pointer;
    position: absolute;
    top: 104%;

    & i {
        font-size: 1.2rem;
        transition: 0.1s;
    }

    & p {
        font-size: 1rem;
        font-weight: 500;
        transition: 0.1s;
    }

    &:hover {

        & i,
        & p {
            color: rgba(255, 255, 255, 0.75);
        }
    }
}

.preview-upload-image,
.img-generated {
    width: 380px;
    height: 280px;
    background-color: #222222;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}

.divAlertMessage {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-direction: column;
    gap: 10px;

    & .message {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: var(--primary-color);
        padding: 15px;
        border-radius: 10px;
        font-weight: 500;
        box-shadow: 0 0 20px rgba(0, 0, 0, 1);
        animation: showAlertMessage 3s forwards;

        & i {
            font-size: 1.1rem;
        }

        & p {
            font-size: 0.9rem;
        }
    
        &.error {
            background-color: #ff0040;
        }

        &.success {
            background-color: #00c76e;
        }
    }
}

/* Animação para exibir mensagem de alerta */
@keyframes showAlertMessage {
    0% {
        opacity: 0;
    }

    25%, 85% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--bg-color);
    gap: 75px;
    opacity: 0;
    transition: 1s;

    & p {
        font-size: 1.2rem;
    }
}

@keyframes showLoading {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes hideLoading {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media (max-width: 500px) {

    .label-upload-image,
    .preview-upload-image,
    .img-generated {
        padding: 50px;
        width: 90vw !important;
        height: 90vw !important;
    }

    .div-prompt {
        width: 90vw;
    }

    .title {
        font-size: 1.3rem;
    }

    .div-button-actions {

        gap: 15px;

        & button {
            width: 65px;
            height: 65px;

            & i {
                font-size: 1.3rem;
            }
        }
    }

    .voltar-btn {
        padding: 20px;

        & i {
            font-size: 1.5rem;
        }

        & p {
            font-size: 1.3rem;
        }
    }

    header {
        top: 7%;
    }
}